[run]
omit =
    */ete3/test/*
    */__init__.py
  
    
source = ete3
branch = True
include =  */ete3/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    */ete3/test/*
    */__init__.py
