[run]
omit =
    */ete3/test/*
    
    # unmaintained 
    */ete3/phylomedb/*
    
    # There are no GUI tests
    */ete3/treeview/qt4_gui.py
    */ete3/treeview/node_gui_actions.py
    */__init__.py
  
    
source = ete3
branch = True
include =  */ete3/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:

