include MANIFEST.in
include VERSION
include README.rst
include CITATION.txt
include THANKS.txt
include LICENSE
include ez_setup.py

graft ete2
graft doc
graft examples 
graft test


global-exclude *.pyc
global-exclude *.pyo
global-exclude ~*
global-exclude *~
global-exclude #*
