/* Chrome, Safari, Edge */
/*This selector acts as header to be recognized by js*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border: solid transparent 1px;
    border-radius: 5px;
    margin: 1px;
}


::-webkit-scrollbar-corner {
    border: solid var(--sand) 1px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border: solid var(--sand) 1px;
    border-radius: 5px;

}

/* Firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color: var(--gray) transparent;
}
