* {
    padding: 0;
    margin: 0;
}

.line {
    stroke: #000;
    stroke-width: 1;
    fill-opacity: 0;
}

.box {
    stroke: #000;
    stroke-width: 0.5;
}

.text {
    font-family: sans-serif;
    user-select: none;
}

.name {
    fill: #00A;
}

.node {
    opacity: 0;
    fill: #222;
}

.outline {
    fill-opacity: 0.1;
    fill: #A50;
    stroke: #000;
    stroke-width: 0.5;
}

.fg_node {
    opacity: 0;
    fill: #222;
}

.fg_node:hover {
    opacity: 0.05;
}

.search {
    opacity: 0.3;
}

.tree {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

.aligned {
    display: none;
    cursor: ew-resize;
    position: absolute;
    right: 0px;
    width: 20%;
    height: 100%;
    background: white;
    overflow: hidden;
    touch-action: none;
}

.dotted {
    stroke-dasharray: 4;
}

.minimap {
    position: absolute;
    border-style: double;
    border-width: 3px;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    background: #FFF;
    touch-action: none;
}

.visible_rect {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    cursor: grab;
    touch-action: none;
}

.menu_main,.menu_representation,.menu_tags_searches {
    position: absolute;
    top: 0px;
    z-index: 3;
}
.menu_main { right: 10px; }
.menu_representation { right: 260px; }
.menu_tags_searches { right: 510px; }

.contextmenu {
    position: absolute;
    z-index: 4;
    visibility: hidden;
    border: 1px solid #AAA;
    background-color: white;
}

.ctx_button {
    width: 100%;
    cursor: pointer;
    padding: 3px 15px;
    border-style: hidden;
    text-align: left;
    background-color: white;
}

.ctx_button:hover {
    background-color: #88F;
    color: white;
}

.ctx_label {
    padding: 3px 10px;
    text-align: left;
    background-color: #EEE;
    font-family: sans-serif;
    font-size: 0.8em;
}

.negative_xaxis {
    stroke: #A50A;
    stroke-width: 4px;
    stroke-linecap: round;
}

hr {
    border: 0;
    height: 1px;
    background-color: #333;
}

kbd {  /* from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd */
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2),
                0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
