#popup {
    font-family: Arial;
    font-size: 10pt;
    border: 1px solid #777;
    background: #EEE;
    margin: 0px;
    padding: 0px;
}
#popup ul{
    margin: 0px;
    padding: 0px;
}
#popup li{
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
}
#close_popup{
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    font-weight:bold;
}

