# TODO: Check if this is used anywhere, and in that case, if it works
# correctly, and document it. Otherwise, please delete this file and directory.

package:
  name: ete4
  version: %VERSION%

source:
    fn: ete4-%VERSION%.tar.gz
    url: https://github.com/etetoolkit/ete/archive/refs/tags/%VERSION%.tar.gz
    #git_url: https://github.com/etetoolkit/ete.git

build:
    noarch: python

requirements:
  build:
    - python
    - cython

  run:
    - python
    - bottle
    - cheroot
    - brotli
    - numpy
    - scipy
    - requests
    - pyqt6
    - selenium
    - pytest

  commands:
    - ete4 version
    - ./run_tests.py
    #- ete4 build check

about:
  home: http://etetoolkit.org
  license: GPL
  summary: "A Python framework for reconstructing, analysing and visualizing phylogenetic trees and multiple sequence alignments. Includes Python API and Phylogenomic tools"
