#popup
{
  font-family: Arial;
  font-size: 10pt;
  border: 1px solid #777;
  margin: 0px;
  padding: 0px;
  z-index:100;
  }

#popup ul
{
  margin: 0px;
  padding: 0px;
 }

#popup li
{
  font-size: 10pt;
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  list-style-type: none;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid #ccc;
  background-image: none;
  }

#popup a
{
  color: #565B53;
  text-decoration:none;
}

#popup a:hover
{
  color: #000000;
  text-decoration:none;
}

#ete_popup_header_text
{
  margin-right: 10px;
  margin-left: 6px;
  font-size: 12pt;
  color: #565B53;
}

.ete_popup_item
{
  color: #565B53;
  border-bottom: 1px solid #ccc;
 }

#ete_popup_header{
  cursor: move;
  margin-bottom: 4px;
  padding-right: 2px;
  padding-left: 2px;
  background-color:#EEE;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  font-size: 10pt;
  font-weight:bold;
  border-bottom:6px solid #565B53;
 }

#ete_close_popup{
    background-image:url('/webplugin/close.png');
    width:16px;
    height:16px;
    cursor:auto;
    float:right;
}

#ete_popup_header span{
cursor: auto;
}

#ete_tree_buttons{
    border-bottom: 1px solid #ccc;
}

#ete_tree_buttons li{
    display: inline;
}

.tree_box_header{
 padding-right:4px;
 background-color:#eee;
 border-bottom:4px solid #555;
 font-weight:bold;
 cursor:move;
}

.tree_box_header img{
 float:right;
 cursor: auto;
}

#tree_features_box{
display:none;
z-index:100;
border: 1px dotted #555;
text-align:left; 
background-color: #fff;
}
#search_in_tree_box{
display:none;
z-index:100;
border: 1px dotted #555;
text-align:center;
background-color: #fff;
}
